.countdown {
  .container {
    display: inline-block;
    margin-right: 5px;
  }
  .measurements {
    text-align: center;
    &-text {
      display: inline-block;
    }
    &-number {
      display: inline-block;
    }
    .divider {
      display: inline-block;
      width: 1px;
    }
  }
}
